.aguja-hora {
    width: var(--diametro);
    position: absolute;
    z-index: 3;
    filter: drop-shadow(0 0 0.5rem #000000aa);
}

@media (prefers-reduced-motion: no-preference) {
    .aguja-hora {
      animation: aguja-hora-spin infinite 216000s linear;
    }
}