* {
    margin: 0 auto;
}
  
:root {
    --diametro: 400px;
    --arriba: calc(var(--diametro) * 0.06);
    --izquierda: calc(var(--diametro) * 0.44);
 }

.reloj {
    width: var(--diametro);
    height: var(--diametro);
    border-radius: 50%;
    background: linear-gradient(153deg, rgb(0, 0, 0) 0%, rgb(121, 121, 121) 48%, rgb(0, 0, 0) 100%);
    position:absolute;
    top: 100px;
    left: 100px;
    z-index: 0;
}