* {
  margin: 0;
}

:root {
  --diametro: 400px;
  --ancho-malla: calc(var(--diametro) * 1.215);
  --arriba: calc(var(--diametro) * 0.06);
  --izquierda: calc(var(--diametro) * 0.44);
}

.reloj {
  width: var(--diametro);
  height: var(--diametro);
  border-radius: 50%;
  background: linear-gradient(
    153deg,
    rgb(0, 0, 0) 0%,
    rgb(121, 121, 121) 48%,
    rgb(0, 0, 0) 100%
  );
  position: relative;
  top: calc(var(--diametro) * 0.284);
  left: calc(var(--diametro) * 0.087);
  z-index: 0;
}

.relojContainer {
  background-image: url("../../assets/pulsera.webp");
  background-size: contain;
  width: var(--ancho-malla);
  height: calc(var(--ancho-malla) * 1.6);
  position: absolute;
  top: 10vh;
  left: 30vw;
}

.tip {
  background-color: rgb(255, 239, 191);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  text-align: center;
  font-size: larger;
}